<div class="scenarios">
  <div>
    <div class="form-inline">
      <label class="scenario-title">Scenario</label>
      <input type="text" [(ngModel)]="name" class="form-control mb-2 new-scenario-input" placeholder="Scenario" (keydown)="keyDown($event)">
      <button type="button" (click)="addItem()" class="btn btn-primary mb-2">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="list-group">
      <button *ngFor="let item of items" type="button" (click)="selectScenario(item)" class="list-group-item list-group-item-action"
        [ngClass]="{'active': item.name === selected?.name}">
        {{item.name}}
      </button>
    </div>
  </div>
  <div>
    <ng-container *ngIf="!!selected">
      <div class="form-group">
        <label>Scenario name</label>
        <input type="text" class="form-control" [ngModel]="selected.name" readonly>
      </div>
      <div class="form-group">
        <label>Created by</label>
        <input type="text" class="form-control" [ngModel]="selected.createdBy" readonly>
      </div>
    </ng-container>
  </div>
</div>