.scenarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    .scenario-title {
        margin-bottom: 7px;
    }

    label {
        color: white;
    }

    .new-scenario-input {
        width: calc(100% - 40px);
    }
}