.chatcontrol{
  float: left;
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 6px;
  height: 40px;


  .chatinput{
    width: 80%;
    float: left;
    border-radius: 0;
    background-color: transparent;
    border-width: 0px 0px 3px 0px;
    &:focus{
      outline: none;
    }

  }

  .sendbtn{
    width: 20%;
    height: auto;
    float: left;
    background-color: transparent;
i{
  font-size: 35px;
  color: red;
}

  }
}
