.chatcontrol{
  float: left;
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;


  .chatinput{
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn{
    width: 20%;
    height: auto;
    float: left;
    background: url('../../../assets/images/telegram.png') no-repeat;
  }
}
