
<div>

<div [ngStyle]="{'float': message.isRobot ? 'left' : 'right'}">
  <img [src]="message.avatar" class="avatar" />
</div>
  <div class="timeform" [ngStyle]="{'float': message.isRobot ? 'left' : 'right'}" style="color:#ffffff;">
    <span class="timestamp">{{message.timestamp | date : ' HH:MM' }}</span>
  </div>

<div><li class="list-group-item" [ngClass]="{'sb6':message.isRobot, 'sb5':!message.isRobot}" [ngStyle]="{'float': message.isRobot ? 'left' : 'right','background-color': message.isRobot ? '#4E8542':'#1B587C'}">

  <div>


 <div>
   <div class="message">
    {{message.content}}
  </div>

</div>

  </div>
</li>

</div>

</div>
