.list-group-item {
  min-width: 20%;
  max-width: 70%;
  margin: 10px;
 color: #ffffff;
  border-radius: 18px;
  font-size: 18px;

  .timeform {
color: #ffffff;
  width: 100%;
    position:relative;

  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }
}


}

.avatar{
  width: 50px;
  margin-right: 20px;
}


