.list-group-item{
  min-width: 20%;
  max-width: 70%;
  .message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.timeform {

  width: 100%;

  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }
}

.avatar{
  width: 50px;
  margin-right: 20px;
}
}
