<div class="home">
  <div class="settings" [routerLink]="['/settings']">
    <i class="fa fa-cogs"></i>
  </div>
  <div class="center">
    <div class="welcome">
      <h1 class="hello">Hello.</h1>
      <div class="miss-money">I am Miss Moneypenny</div>
      <div class="additional">& your criminal investigation concierge</div>
    </div>
    <div class="image">
      <a [routerLink]="['/chatbot']">
        <img src="../../assets/images/homePage.png" alt="Image">
      </a>
    </div>
  </div>
</div>
